* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  img{
    user-select: none;
    pointer-events: none;
  }

  body {
    height: 100vh;
    display: flex;
    background: #eac59b;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

  }
  .audioControls{
    margin-top:35px;
  }
  .logo-90s{
    height: 100px;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  h1{
    background:  linear-gradient(135deg, #3643b1 0%, #f608b4 100%);
    background-size: 100;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #cardboard {
    width: 680px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .memory-card {
    width: 160px;
    height: 200px;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
    backface-visibility: hidden;
  }
  
  .memory-card:active {
    transform: scale(0.97);
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(232, 165, 8);
    background-size: cover;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }